// ASSETS
import 'root-assets/public/css/reset.css'

// CONSTANTS
import resources from 'root-constants/translations'

// LIBS

// REACT
import React from 'react'
import { hot } from 'react-hot-loader/root'
import { I18nextProvider } from 'react-i18next'
import HashRouter, { Route } from 'react-redux-hash-router' //eslint-disable-line
import { MuiThemeProvider } from '@material-ui/core/styles'

// REDUX
import { Provider } from 'react-redux'
import store from 'root-redux/store'

// SERVICES
import createI18n from 'root-services/createI18n'
import lng from 'root-services/language'

// STYLES
import theme from 'root-themes'

const AppContent = ({
  classes,
}) => (
  <HashRouter
    routerStatePath="routing.mainRouter"
    loaderComponent={<div>Loading...</div>}
  >{}
  </HashRouter>
)

AppContent.propTypes = {
  classes: shape({}).isRequired,
}

const AppContentStyled = withStyles(styles)(AppContent)

const App = () => {
  return (
    <Provider store={store}>
      <I18nextProvider i18n={createI18n({ resources, lng })}>
        <MuiThemeProvider theme={theme}>
          <AppContentStyled />
        </MuiThemeProvider>
      </I18nextProvider>
    </Provider>
  )
}

export default process.env.NODE_ENV === 'development' ? hot(App) : App
