// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// REACT
import React, { Component } from 'react'
import { func } from 'prop-types'
import { Trans, translate } from 'react-i18next'

// LIBS
import cn from 'classnames'

// STYLE
import s from './style.scss'

class <%=componentName%> extends Component {
  static get propTypes() {
    return {
      t: func,
    }
  }

  constructor(props) {
    super(props)
    this.state = {
    }
  }

  render() {

    const {
      t
    } = this.props

    return (
      <div>
          <%=componentName%>
      </div>
    )
  }
}

export default (translate()(<%=componentName%>))
