// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// REACT
import React, { Component } from 'react'
import { func, shape } from 'prop-types'
import { Trans, translate } from 'react-i18next'
<% if (useJss) {%>
  import { withStyles } from '@material-ui/core'
<% }%>

<% if (hasRedux) {%>
  // REDUX
  import { useSelector, useDispatch } from 'react-redux'
<% }%>

// LIBS
import cn from 'classnames'

// STYLE
<% if (useScss) {%>
  import s from './style.scss'
<% }%>
<% if (useJss) {%>
  import styles from  './style.js'
<% }%>

class <%=componentName%> extends Component {
  static get propTypes() {
    return {
<% if (useJss) {%>
      classes: shape({}).isRequired,
<% }%>
      t: func.isRequired
    }
  }

  constructor(props) {
    super(props)
    this.state = {
    }
  }

  render() {

    const {
<% if (useJss) {%>
      classes,
<% }%>
      t
    } = this.props

    return (
      <div>
          <%=componentName%>
      </div>
    )
  }
}

<% if (useJss) {%>
export default withStyles(styles)(translate()(<%=componentName%>))
<% } else {%>
export default translate()(<%=componentName%>))
<% } %>
