// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// LIBS
import cn from 'classnames'

// REACT
import React, { useState } from 'react'
import { func, shape } from 'prop-types'
import { translate, Trans } from 'react-i18next'
import { withStyles } from '@material-ui/core'

// REDUX
import { bindActionCreators } from 'redux'
import { connect } from 'react-redux'

// STYLE
import s from './style.scss'
import styles from  './style.js'

function <%=componentName%>({
     classes,
     t
    }){
    return (
      <div>
          <%=componentName%>
      </div>
    )
}

<%=componentName%>.propTypes = {
    classes: shape({}).isRequired,
    t: func.isRequired
}

const mapStateToProps = state => ({
})

const mapDispatchToProps = dispatch =>
  bindActionCreators({}, dispatch)

export default withStyles(styles)(
  connect(mapStateToProps, mapDispatchToProps)(translate()(<%=componentName%>))
)
