// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// REACT
import React, { useState } from 'react'
import { func } from 'prop-types'
import { Trans, translate } from 'react-i18next'

// LIBS
import cn from 'classnames'

// STYLE
import s from './style.scss'

const <%=componentName%> = (props) => {
    return (
      <div>
          <%=componentName%>
      </div>
    )
}

<%=componentName%>.propTypes = {
  t: func
}

export default (translate()(<%=componentName%>))
