// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// LIBS
import cn from 'classnames'

// REACT
import React, { Component } from 'react'
import { func, shape } from 'prop-types'
import { translate, Trans } from 'react-i18next'
import { withStyles } from '@material-ui/core'

// REDUX
import { useSelector, useDispatch } from 'react-redux'

// STYLE
import s from './style.scss'
import styles from  './style.js'

class <%=componentName%> extends Component {
  static get propTypes() {
    return {
      classes: shape({}).isRequired,
      t: func.isRequired
    }
  }

  constructor(props) {
    super(props)
    this.state = {
    }
  }

  render() {
    const {
      t,
    } = this.props

    return (
      <div>
          <%=componentName%>
      </div>
    )
  }
}

export default withStyles(styles)(
  translate()(<%=componentName%>)
)
