// CONSTANTS
import * as keys from 'root-constants/translations/keys'

// LIBS
import cn from 'classnames'

// REACT
import React, { Component } from 'react'
import { func } from 'prop-types'
import { translate, Trans } from 'react-i18next'
import HashRouter, { Route } from 'react-redux-hash-router'
import { withStyles } from '@material-ui/core'

// REDUX
import { bindActionCreators } from 'redux'
import { connect } from 'react-redux'

// STYLE
import s from './style.scss'
import styles from  './style.js'

class <%=componentName%> extends Component {
  static get propTypes() {
    return {
      t: func,
    }
  }

  constructor(props) {
    super(props)
    this.state = {
    }
  }

  render() {
    const {
      t,
    } = this.props

    return (
      <div>
        <HashRouter
          routerStatePath="routing.<%=routerName%>Router"
          loaderComponent={<div>Loading...</div>}
        >{}
        </HashRouter>
      </div>
    )
  }
}

const mapStateToProps = state => ({
})

const mapDispatchToProps = dispatch =>
  bindActionCreators({}, dispatch)

export default withStyles(styles)(
  connect(mapStateToProps, mapDispatchToProps)(translate()(<%=componentName%>))
)
